<h2>All Articles</h2>

<p>
    Click on a "Show" link will show the full title and body of the article.
    We demonstrate a variety of different ways of making this happen.
</p>

<% @articles.each do |article| %>

    <%= div_for(article) do %>
        <h3><%= article.title %></h3>
        <div class="details"></div>
        <ul>
            <li><%= link_to 'Show article details by going to new page', article %></li>
            <li><%= link_to 'Show article details using .js.erb', article, :remote => true %></li>
            <li><%= link_to 'Show article details using callback and JSON', article, :remote => true, "data-type" => :json %></li>
            <li><%= link_to 'Show article details using callback and HTML', article, :remote => true, "data-type" => :html %></li>
            <li><%= link_to 'Hide this article', '#', :class => :hide %></li>
            <li><%= link_to 'Edit this article (demo of submitting a form remotely with JS response)', edit_article_path(article) %></li>
            <li><%= link_to 'Delete this article', article_path(article), :method => :delete %></li>
        </ul>
    <% end %>

<% end %>



<%= link_to 'New Article (demo of submitting a form remotely with JSON response)', new_article_path %>
