<h2>All Articles</h2>


<% @articles.each do |article| %>

    <%= div_for(article) do %>
        <h3><%= article.title %></h3>
        <div class="details"></div>
        <ul>
            <li><%= link_to 'Show ', article %></li>
            <li><%= link_to 'Show using .js.erb', article_path(article), :remote => true %></li>
            <li><%= link_to 'Show using callback and JSON', article_path(article), :remote => true, "data-type" => :json %></li>
            <li><%= link_to 'Show using callback and HTML', article_path(article), :remote => true, "data-type" => :html %></li>
            <li><%= link_to 'Hide', '#', :class => :hide %></li>
        </ul>
    <% end %>

<% end %>



<%= link_to 'New Article', new_article_path %>
